/* Custom Bootstrap */
/*  */
/*  */
/*  */
/* btn primary */
.btn-primary {
  color: #fff;
  background-color: #9999cc;
  border-color: #9999cc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8181c0 !important;
  border-color: #9999cc;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #9999cc;
  border-color: #9999cc;
  box-shadow: 0 0 0 0.2rem rgb(128, 81, 154, 0.5) !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #9999cc;
  border-color: #9999cc;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #9999cc;
  border-color: #9999cc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

/* Form control focus settings */
.form-control:focus {
  border-color: #8064a2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(38, 143, 255, 0.6);
}

#create-link {
  color: #7777bb;
}
