body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: ccccc;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #9999cc;
  padding-right: 2%;
}

.navbar a {
  color: white;
}

.navbar li {
  margin-left: 10px;
  margin-right: 10px;
}

section {
  flex-direction: column;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
}

/* section backgrounds */
section#signIn {
  background-image: url("../img/untitled.svg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#courses {
  background-image: url("../img/courses.jpg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section#aboutUs {
  background-image: url("../img/aboutus.jpg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  text-align: center;
  padding: 20px;
  background-color: #9999cc;
  color: white;
}
